// Mixins
@mixin flex-center() {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

// Media Queries
@mixin mobile {
	@media (max-width: 700px) {
		@content;
	}
}

// Media Queries
@mixin deskkop {
	@media (min-width: 700px) {
		@content;
	}
}
