.topbar-container {
	width: 100%;
	font-family: Futura, sans-serif;
	display: flex;
	align-items: center;
	user-select: none;
	padding-top: 32px;

	.topbar-abbreviation {
		font-size: 22px;
		margin-left: 32px;
	}

	.topbar-firstchar {
		margin-right: 2px;
	}

	.topbar-toggle {
		margin-right: 32px;
	}

	.topbar-flex-grow {
		flex-grow: 1;
	}
}
