@import '../../sass-constants/mixins';

.personal-intro-text-container {
	display: flex;
	flex-direction: column;
	@include flex-center;

	.personal-intro-title {
		font-family: Azonix;
		font-size: 80px;
		user-select: none;
		margin-top: 40%;

		@include mobile {
			font-size: 70px;
			margin-top: 70%;
		}
	}

	.personal-intro-subtitle {
		text-align: right;
		font-family: SF-Pro-Display-Thin;
		font-size: 30px;
		user-select: none;

		span {
			font-family: Ninja;
		}

		@include mobile {
			font-size: 25px;
			text-align: left;
		}
	}

	.personal-intro-svg {
		height: 300px;
		width: 200px;
	}

	.my-name-ul {
		.my-name-list-item {
			list-style: none;
		}
	}

	.personal-intro-top-subtitle {
		font-family: 'SF-Pro-Text-Light';
		font-size: 20px;
		margin-bottom: 20px;
		color: rgb(122, 122, 122);
	}
}
