@import '../../sass-constants/mixins';

.personal-intro-text-container {
	display: flex;
	flex-direction: column;
	justify-content: center;

	.personal-intro-inner-container {
		@include flex-center;
	}

	.personal-intro-title {
		text-align: left;
		font-family: Azonix;
		font-size: 80px;
		padding-left: 32px;
		user-select: none;
		margin-top: 40%;
	}

	.personal-intro-subtitle {
		text-align: left;
		font-family: SF-Pro-Display-Thin;
		font-size: 30px;
		padding-left: 32px;
		user-select: none;

		span {
			font-family: Ninja;
		}
	}

	.personal-intro-svg {
		height: 300px;
		width: 200px;
	}
}
