@import '../../sass-constants/mixins';

.personal-intro-text-container {
	display: flex;
	flex-direction: column;
	@include flex-center;

	.personal-intro-inner-container {
	}

	.personal-intro-title {
		font-family: Azonix;
		font-size: 80px;
		padding-left: 32px;
		user-select: none;
		margin-top: 30%;
	}

	.personal-intro-subtitle {
		text-align: center;
		font-family: SF-Pro-Display-Thin;
		font-size: 30px;
		padding-left: 32px;
		user-select: none;

		@include mobile {
			text-align: left;
		}

		span {
			font-family: Ninja;
		}
	}

	.personal-intro-svg {
		height: 300px;
		width: 200px;
	}
}
