@font-face {
	font-family: 'Futura';
	src: local('Futura'), url(./assets/fonts/FuturaLT-Book.ttf) format('opentype');
}

@font-face {
	font-family: 'Azonix';
	src: local('Azonix'), url(./assets/fonts/Azonix.otf) format('opentype');
}

@font-face {
	font-family: 'Ninja';
	src: local('Ninja'), url(./assets/fonts/AssassinNinja.ttf) format('opentype');
}
